<%- include('partials/_header_main') %>

<h1>Oluşturulan Seyahat Planı</h1>

<h2>Seyahat Planı</h2>
<p><%= itinerary %></p>

<h2>Uçuşlar</h2>
<p><%= flights %></p>

<h2>Oteller</h2>
<p><%= hotels %></p>

<%- include('partials/_footer_main') %>
